.jumbotron-fluid {
    
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
    height: 100vh;
} 
.overlay>h1{
    font-size: 100px;
    font-weight: bold;

}
.overlay>h6{
    font-size: 30px;
    font-weight: bold;

    
}


 