{% extends 'base.html' %}







{% block content %}
<h1>Books</h1>

<div class="row">
    <div class="col-md-4">

        {% for book in books %}
        <div class="card" style="width: 18rem;">
            <img src="{{book.book_image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{book.author}}</h5>
              <p class="card-text">{{book.description}}</p>
              <a href="{{book.amazon_product_url}}" class="btn btn-primary">Buy from Amazon</a>
            </div>
          </div>
        {% endfor %}
    
    </div>
    

    </div>

</div>

{% endblock%}